// === THEME ===
// Allowed values: Dark, Light, Default
$theme: Dark;

// Allowed values: blue-beans, rogers-rovers, pastery-pizza
$brand: rogers-rovers;


// === Color ===
$text-color: #222222;
$body-background-color: #fff;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: #fff;
$sidebar-list-hover-color: #efefef;

@if $theme == Dark {
	$text-color: #fff;
	$body-background-color: #222;
	$theme-color: #42424a;
	$secondary-color: #c24721;
	$ternary-color: #698932;
	$link-color: $secondary-color;
	$menu-item-color: #fff;
	$sidebar-list-hover-color: #464545;
} 

@else if $theme == Light {
	$text-color: #000;
	$body-background-color: #fff;
	$theme-color: #372a27;
	$secondary-color: #d26741;
	$ternary-color: #698932;
	$link-color: $secondary-color;
	$menu-item-color: #fff;
	$sidebar-list-hover-color: #efefef;
}